 :root {
    --bg-gray1: #E0E0E0;
    --bg-gray2: #C4C4C4;
    --bg-gray3: #979797;
    --bg-white: #E5E5E5;
    --ft-input: #888888;
    --dark: #333333;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    line-height: 22px;
    list-style-type: none;
    font-size: 14px;
}

input, button {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 20px;
    line-height: 24px;
}

h2 {
    font-size: 18px;
}

/* Mobile */
.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    margin: auto;
}
header {
    background-color: var(--bg-white);
    height: 60px;
    width: 100%;
}

header img {
    width: 39px;
}

.responsiveMenu ul {
    display: none;
    background-color: var(--dark);
    color: var(--white);
    font-size: 16px;
    position: fixed;
    height: 100%;
    width: 85.4%;
    right: 0;
    top: 0;
    padding: 20px 0;
}

.iconHamburguer div {
    height: 5px;
    background-color: var(--dark);
    width: 35px;
    margin: 6px 0;
}

.responsiveMenu ul li {
    text-align: right;
    margin: 7px 0;
    padding: 0 20px;
}

.responsiveMenu ul li:hover {
    background-color: var(--bg-gray2);
    color: var(--dark);
}
.responsiveMenu ul li:nth-child(1) {
    text-align: left;
    background-color: var(--dark);
    color: var(--bg-white);
}

.responsiveMenu:hover ul {
    display: block;
}

main {
    width: 100%;
    padding: 26px 20px;
}

section h2 {
    text-align: center;
}

.newTransaction {
    display: none;
}

select, input {
    width: 100%;
    height: 32px;
    border: 1px solid #979797;
    border-radius: 4px;
    padding: 7px;
    color: var(--ft-input);
}

section form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #979797;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

button {
    width: 100%;
    background-color: var(--dark);
    color: var(--white);
    margin: 15px 0;
    margin-bottom: 26px;
    height: 32px;
    border: none;
    border-radius: 4px;
}

.extract{
    margin-bottom: 20px;
}

table {
    width: 100%;
}

.borderLine {
    border-bottom: 1px solid #979797;
    padding: 0;
}

th {
    text-align: start;
    padding: 4px 0px;
}

td {
    padding: 4px;
    vertical-align: top;
    line-height: 16px;
}

.colRight {
   padding-right: 30px;
   text-align: end;
} 

tr td:nth-child(1) {
    width: 9px;
    min-width: 20px;
}

tr td:nth-child(2) {
    width: 56%;
    min-width: 200px;
}

tr td:nth-child(3) {
    min-width: 90px;
    text-align: right;
    padding-right: 10px;
}

.inline-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 11px;
    margin-top: 11px;
}

.bold {
    font-weight: bold;
    
}

.lucro {
    display: flex;
    justify-content: flex-end;
    padding: 0 11px;
    font-size: 10px;
}

/*  Tablet portrait 768px */

@media(min-width: 768px) {
    header {
        padding: 0;
    }

    .menuContainer {
        width: 100%;
        padding: 0 20px;
    }

    .newTransaction {
        display: block;
    }

    .responsiveMenu ul {
        width: 32.4%;

    }

    button {
        width: 200px;
        margin-bottom: 0;
    }

    main section:nth-child(1) {
        border: 1px solid #979797;
        border-radius: 4px;
        padding: 20px;
    }

    section form {
        display: flex;
        flex-direction: column;
        border-bottom: none;
        margin-bottom: 0px;
        align-items: flex-end;
      }

     .formContainer {
         width: 100%;
         display: flex;
         align-items: center;
     }
    
    .forMercadoria {
        width: 55%;
        margin: 0 20px;
    }

    .forItem {
        width: 22%;
    }

    .extract {
        margin-top: 41px;
    }
} 

/*  Tablet portrait 1112px */
@media(min-width: 1112px) {
    .iconHamburguer {
        display: none;
    }

    .menuContainer {
        width: 100%;
    }

    header {
        padding: 0px 24px;
    }

    header img {
        margin-right: 20px;
    }

    h1 {
        margin-right: auto;
    }

    .responsiveMenu {
        background-color: var(--white);
        height: 40px;
        width: 45%;
    }

    .responsiveMenu ul {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: var(--dark);
        background-color: var(--white);
        width: 100%;
        padding: 0;
    }

    .responsiveMenu:hover ul {
        display: flex;
    }

    .responsiveMenu li:nth-child(1) {
        display: none;
    }

    .responsiveMenu ul li {
        margin: auto;
        text-align: center;
       /*  padding: 0; */
       border-left: 1px solid var(--dark);
       white-space: nowrap;
    }

    .responsiveMenu li:nth-child(2) {
        border-left: none;
    }

    main {
        display: flex;
        justify-content: center;
    }

    main section:nth-child(1) {
        width: 35%;
    }

    main section:nth-child(2) {
        width: 65%;
        margin-left: 20px;
    }
    
    .forItem , .forMercadoria {
        width: 100%;
        margin: auto;
    }

    .formContainer {
        display: block;
    }

    .btn {
        width: 100%;
    }

    button {
        width: inherit;
    }
}

/* Desktop 1550px */
@media(min-width: 1550px) {
    main {
        padding: 30px 200px;
    }

    .menuContainer {
        width: 100%;
        padding: 0 200px;
    }

    header {
        padding: 0;
    }
}